<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.dao.TestMapper">
	<insert id="testInsert" parameterType="TestVO">
		INSERT INTO test VALUES(#{a}, #{b})
	</insert>
</mapper>